API_URL=https://parking-one-coral.vercel.app/api
GOOGLE_WEB_CLIENT_ID=637562734497-voucc68dhu8v4i0dsjgqjem4hjjfitjs.apps.googleusercontent.com
FACEBOOK_APP_ID=
FACEBOOK_CLIENT_TOKEN=
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT_ID=common
